**Practice Only No Copy and Paste from any sources.**

#Read the dataset (propertydata.csv) and identify the columns and their datatype

In [2]:
import pandas as pd
csv=pd.read_csv("/content/propertydata.csv")
df=pd.DataFrame(csv);
#print(df)
df_col=df.columns
df_dt=df.dtypes
print(df_col,"\n",df_dt)

Index(['PID', 'ST_NUM', 'ST_NAME', 'OWN_OCCUPIED', 'NUM_BEDROOMS', 'NUM_BATH',
       'SQ_FT'],
      dtype='object')
 PID             float64
ST_NUM          float64
ST_NAME          object
OWN_OCCUPIED     object
NUM_BEDROOMS     object
NUM_BATH         object
SQ_FT            object
dtype: object

#Describe the dataset

In [ ]:
df.describe()

                PID      ST_NUM
count  8.000000e+00    7.000000
mean   1.000050e+08  191.428571
std    2.927700e+03   39.080503
min    1.000010e+08  104.000000
25%    1.000028e+08  199.000000
50%    1.000050e+08  203.000000
75%    1.000072e+08  210.000000
max    1.000090e+08  215.000000

#Display the street number (ST_NUM) and check any NaN values.

In [7]:
print(df.loc[:,"ST_NUM"])
print("There are ",df['ST_NUM'].isna().sum()," NAN values")

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64
There are  2  NAN values

#Print the number of bedrooms (NUM_BEDROOMS) and check any NaN values.

In [6]:
print(df['NUM_BEDROOMS'])
print("There are ",df['NUM_BEDROOMS'].isna().sum()," NAN values")

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object
There are  2  NAN values

#There are few missing values like ["n/a", "na",  "--"] Apply some technique to replace these values with NaN.

In [9]:
bv=["n/a","na","--"]
df_new=pd.read_csv("/content/propertydata.csv",na_values=bv);
print(df_new)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

#Fill the ST_NUM by the maximum number of houses in a particular street

In [21]:
df2 = df_new.dropna(subset=['ST_NUM'])
house_count = df2.groupby('ST_NUM')['PID'].nunique()
max_houses = house_count.max()
print(max_houses)

2